<header>
  <h2>{{ project.title }}</h2>
  <div class="addon">
    <form action="/app/projects/{{ activeProject.id }}?_method=DELETE" method="post">
      <button class="btn btn-danger" type="submit">Excluir projeto</button>
    </form>
  </div>
</header>
